html{
  font-size: 62.5%
}

body {
  font-family: "Avenir Next";
}

li{
  list-style-type: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 9rem;
}

.header-logo {
  float: left;
  font-size: 3.6rem;
  padding: 2rem 4rem;
}

.header-list li {
  float: right;
  padding: 3.3rem 2rem;
}

.main {
  padding: 10rem 8rem;
}

.copy-container h1 {
  font-size: 14rem;
}

.copy-container h2 {
  font-size: 6rem;
}

.copy-container span {
  color: #6e3d3d;
}

.contents {
  height: 50rem;
  margin-top: 10remx;
}

.section-title {
  border-bottom: .2rem solid #dee7ec;
  font-size: 2.8rem;
  padding-bottom: 1.5rem;
  margin-bottom: 5rem;
}

.contents-item {
  float: left;
  margin-right: 4rem;
}

.contents-item p {
  font-size: 2.4rem;
  margin-top: 3rem;
}

input , textarea{
  width: 40rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 2rem;
  font-size: 1.8rem;
  border: .1rem solid #dee7ec;
}

.contact-submit{
  background-color: #dee7ec;
  color: #889eab;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 12rem;
  padding: 4rem;
}

.footer-logo {
  float: left;
  font-size: 3.2rem;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 2rem;
}

@media(max-width:998px){
  html{
    font-size: 55%
  }
}

@media(max-width:768px){
  html{
    font-size: 45%;
  }
}
